<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (titulo)">
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<div th:fragment="javascript">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</div>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/about}">ToDoList</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:if="${usuario != null}">
                <a class="nav-link" th:href="@{/usuarios/{id}/tareas(id=${usuario.id})}">Tareas</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- Si no hay usuario logeado -->
            <li class="nav-item" th:if="${usuario == null}">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item" th:if="${usuario == null}">
                <a class="nav-link" th:href="@{/registro}">Registro</a>
            </li>
            <!-- Si hay usuario logeado -->
            <li class="nav-item dropdown" th:if="${usuario != null}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${usuario.nombre != null ? usuario.nombre : usuario.email}">
                    Usuario
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Cuenta</a>
                    <a class="dropdown-item" th:href="@{/logout}" th:text="'Cerrar sesión ' + (${usuario.nombre != null ? usuario.nombre : usuario.email})">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

</html>